// main.scss
// Master SCSS Entry Point

@import "variables";
@import "functions";
@import "mixins";
@import "placeholders";
@import "components";

// Global Document Base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background-color: $bg-dark;
  color: $text-light;
  padding: rem(32) rem(16);
  line-height: 1.6;
}

.container {
  max-width: rem(800);
  margin: 0 auto;
}
